footer{
    padding-top: 10px;
    background: #14315D; 
}
.footer-links{
    h4{
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
        padding: 10px 0;
        color: #56caf0;
    }
    li{
        color: #bed2dd;
        font-size: 13px;
        margin-bottom: 15px;
    }
}
.social{
    .fa{
        font-size: 18px;
        color: #959FB0;
        display: inline-block;
        margin: 10px 20px 0 0;
    }
}
.footer-info{
    border-top: 1px solid #475f82;
    .info-text{
        display: flex;
        align-items: center;
        height: 50px;
        color: #8ba8ba;
        justify-content: space-between;
        p{
            margin: 0;
        }
    }
}
.browser-info{
    background: #2c4e86;
    height: 50px;
    align-items: center;
    display: flex;
    color: #FFF;
    font-size: 12px;
}