.form-style{
    margin-bottom: 25px;
    .form-group{
        label{
            font-weight: 500;
            span{
                font-size: 12px;
            }
        }
    }
    .form-control{
        @include border-radius(0);
    }
    .input-group-addon{
        @include border-radius(0);
    }
    .message{
        font-size: 12px;
        &.error{
            color: red;
        }
    }
    .help-pan{
        margin: 5px 0 10px;
        color: #616161;
    }
    .example-pan{
        margin: 5px 0 10px;
        span{
            padding: 2px 4px;
            font-size: 13px;
            color: #c7254e;
            background-color: #f9f2f4;
            margin: 0 1px;
            &.success{ 
                color: #fff;
                background-color: #2f7e00;
            }
        }
    }
    .mandatory{
        &:after{
            content: "\f111";
            font-family: 'fontAwesome';
            color: red;
            font-size: 6px;
            vertical-align: super;
            padding-left: 5px;
        }
    }
    .btn-primary{
        outline: none;
        border: none;
        color: #fff;
        background-color: #2c4e86;
        border-color: #264373;
        text-transform: uppercase;
        margin: 25px 0;
        height: 35px;
        @include border-radius(0);
        &:hover{
            color: #fff;
            background-color: #1f3860;
            border-color: #172845;
        }
    }
    .captcha-box{
        height: 52px;
        margin: 5px 0;
    }
}
.radio-button { 
    margin: 0 10px 0 0;
    display: inline-block;
    cursor: pointer;
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      + .radio-label {
        &:before {
          content: '';
          border-radius: 100%;
          background: #f1f1f1;
          border: 1px solid #ddd;
          display: inline-block;
          width: 20px;
          height: 20px;
          padding: 2px;
          position: relative;
          top: 0;
          margin-right: 5px; 
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
        }
      }
      &:checked {
        + .radio-label {
          &:before {
            background: #41a910;
            box-shadow: inset 0px 0px 0px 4px #f1f1f1;
          }
        }
      }
      &:focus {
        + .radio-label {
          &:before {
            background: #41a910;
            box-shadow: inset 0px 0px 0px 4px #f1f1f1;
          }
        }
      }
      &:disabled {
        + .radio-label {
          &:before {
            box-shadow: inset 0 0 0 4px #f1f1f1;
          }
        }
      }
      + .radio-label {
        &:empty {
          &:before {
            margin-right: 0;
          }
        }
      }
    }
  }