header{
    background: #051547;
}
.top-bar{
    text-align: right;
    color: #ffffff;
    margin: 5px 0;
    font-size: 12px;
    background: #051547;
    span{
        margin-left: 10px;
    }
}
.head-wrap{
    background-color: #0B1E59;
}
.head-bar{
    padding: 10px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    h1{
        margin: 0;
        font-size: 2em;
        color: #ffffff;
    }
    .login{
        color: #ffffff;
        text-decoration: none;
        font-size: 13px;
    }
  
}
.navbar{
    background-color: #2c4e86;
    margin: 0;
    border: none;
    li{
        margin: 0;
    }
    .navbar-collapse{
        padding: 0;
    }
    .navbar-nav{
        > li{
            > a{
                padding: 15px 20px 16px;
                color: #ffffff;
                border-right: 1px solid #475f82;
                @include transition(all 0.2s ease-in-out);
                &:hover{
                    background: transparent;
                    color: #17c4bb;
                }
                &:focus{
                    color: #17c4bb;
                }
            }
            &.active{
                > a{
                    color: #0b1e59;
                    background-color: #17c4bb;
                   
                }
                .caret{
                    border-top: 4px solid #0b1e59;
                }
            }
            &.open{
                > a{
                    color: #0b1e59;
                    background-color: #eee;
                    &:focus{
                        color: #0b1e59;
                    }
                }
                .caret{
                    border-top: 4px solid #0b1e59;
                }
            }
        }
    }
    .dropdown-menu{
        margin: 0 -68em 0 -5.8em;
        background: #ebf0f2;
        padding: 0;
        width: 81.6em;
        @include border-radius(0);
        li{
            display: inline-block;
            a{
                padding: 10px 15px;
                color: #0B1E59;
                border-bottom: 2px solid transparent;
                @include transition(all 0.2s ease-in-out);
            }
            .smenu-sub{
                margin: 0 0 0 -1px;
                background: #fff;
                display: none;
                flex-wrap: wrap;
                li{
                    width: 50%;
                    a{
                        border: none;
                    }
                }
            }
            &:hover{
                > a{
                    border-bottom: 2px solid #0B1E59;
                }
                .smenu-sub{
                    display: flex;
                }
            }
        }
    }
}