

// layout
body{
    font-family: verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color:#212121;
}
.main-outer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inner-pages{
    background: #E4E8EB;
}
.btn:focus, .btn.focus, 
.btn:active:focus, .btn:active.focus, 
.btn.active:focus, .btn.active.focus {
    outline: none !important;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid #FFFFFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.banner{
    height: 330px;
    background: url('../images/banner_image.jpg') no-repeat center center;
    object-fit: cover;
    margin-bottom: 10px;
}
.block-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gray-block{
    background-color: #F5F5F5;
    padding: 10px 10px 0px 10px;
    border-bottom: 2px solid #333333;
    min-height: 205px;
    margin-bottom: 20px;
    ul{
        padding:5px 10px;
        li{
            margin-bottom: 10px;
        }
    }
    .date{
        color: #505050;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .view-all{
        text-align: right;
        margin-bottom: 10px;
    }
}
.widget-panel{
    background-color: #B9EDEA;
    color: #2c4e86;
    border-bottom: 2px solid #2ec9c1;
    height: 52px;
    padding: 0px 20px 0 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        margin: 0;
        i{
            margin-right: 10px;
        }
    }
}
.topic-block{
    padding: 10px 20px;
    background-color: #B9EDEA;
    margin-bottom: 20px;
    p{
        padding: 10px 0;
        color: #337ab7;
        min-height: 60px;
        margin: 0;
        border-bottom: 1px solid #ebebeb;
        i{
            color: #2c4e86;
            margin-right: 5px;
        }
        &:last-child{
            border: none;
        }
    }
}
.dates-list{
    margin-bottom: 20px;
    .date-block{
        height: 34px;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 12px;
        background: #ddd;   
        border: 1px solid #4f4d498c;
        label{
            height: 33px;
            margin: 0;
            width: 175px;
            display: flex;
            align-items: center;
            background: #1d867a;
            text-align: center;
            color: #FFFFFF;
            justify-content: center;
        }
        span{
            display: block;
            text-align: center;
            width: 135px;
        }
    }
}
.content-pane{
    background-color: #fff;
    padding: 15px 15px;
}
.breadcrumb-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .breadcrumb{
        padding: 8px 15px 8px 0;
        margin: 0;
        background: transparent;
        li{
            margin: 0;
            & + li:before{
                font-family: FontAwesome;
                content: "\f105";
                padding: 0 5px;
                color: #ccc;
            }
        }
    }
}
.progressbar{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0;
    li{
        position: relative;
        display: inline-block;
        min-width: 115px;
        padding: 0 5px;
        &:after{
            width: 100%;
            height: 2px;
            content: "";
            display: block;
            left: 0;
            position: absolute;
            top: 32%;
            background: #7d7d7d;
        }
        &:first-child{
            &:after{
                left: 50%;
                width: 50%;
            }
        }
        &:last-child{
            &:after{
                right: 50%;
                width: 50%;
            }
        }
        p{
            font-size: 12px;
            text-align: center;
            text-transform: capitalize;
            color: #7d7d7d;
        }
        .circle{
            display: block;
            margin: 0 auto 5px;
            width: 40px;
            height: 40px;
            padding: 5px;
            text-align: center;
            line-height: 30px;
            background-color: #7d7d7d;
            border-color: #7f7f7f;
            color: #fff;
            position: relative;
            z-index: 1;
            @include border-radius(50%);
        }
        &.active{
            .circle{
                background-color: #EC9D0A
            }
            p{
                color: #EC9D0A;
            }
        }
    }
}
.mand-text{
    text-align: right;
    font-size: 13px;
    &:before{
        content: "\f111";
        font-family: 'fontAwesome';
        color: red;
        font-size: 8px;
        vertical-align: super;
        padding-right: 5px;
    }
}
.head-style{
    font-size: 18px; 
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 5px 0;
}
.reg-tab{

}