@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }
  @mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
  }
  

@mixin text-shadow($text-shadow) {
  -webkit-text-shadow: $text-shadow;
  -moz-text-shadow: $text-shadow;
  text-shadow: $text-shadow;
}

// Animate
@-webkit-keyframes change {
    from {
        color: rgba(#00f, 0.5);
    }
    to {
      color: rgba(red, 1);
    }
}
@-moz-keyframes change {
  from {
    color: rgba(#00f, 0.5);
  }
  to {
    color: rgba(red, 1);
  }
}
@keyframes change {
  from {
    color: rgba(#00f, 0.5);
  }
  to {
    color: rgba(red, 1);
  }
}