﻿
@model IList<eSimulation.Framework.Domain.GSTRegistration>


<div class="container">
    <div class="table-responsive">

        @if (TempData["Success"] != null)
        {
<div class="alert alert-success alert-dismissible show fade">
    <div class="alert-body">
        <button class="close" data-dismiss="alert">
            <span>×</span>
        </button>
        @TempData["Success"]
    </div>
</div> }
else if (TempData["Error"] != null)
{
<div class="alert alert-dark alert-dismissible show fade">
    <div class="alert-body">
        <button class="close" data-dismiss="alert">
            <span>×</span>
        </button>
        @TempData["Error"]
    </div>
</div>      }

        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th>Creation Date</th>
                    <th>Form No.</th>
                    <th>For Description</th>
                    <th>Expiry</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
    <tr>
        <td>@Model[i].CreatedUtc.ToIndianTime()</td>
        <td>@Model[i].FormNumber</td>
        <td>@Model[i].FormDescription</td>
        <td>@Model[i].ExpiryUtc.ToIndianTime()</td>
        <td>
            @Model[i].GstRegStatus<a href="#" data-toggle="tooltip" title="Hooray!">
                <i class="fas fa-info-circle" style='color:darkblue'></i>
            </a>
        </td>

        <td><a href="#"><i class='fas fa-edit' style='font-size:24px;color:darkblue'></i></a></td>
    </tr>}
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
