﻿

<div class="banner"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="block-head">
                <h4>News|Updates</h4>
                <div class="head-links">
                    <a>Advisories</a> | <a>Press Releases</a>
                </div>
            </div>
            <div class="gray-block">
                <ul>
                    <li>
                        <div class="date">26/10/2020</div>
                        <p><a>Filing NIL Form CMP-08 statement through SMS on GST Portal</a></p>
                    </li>
                    <li>
                        <div class="date">23/10/2020</div>
                        <p><a>Withdrawal of EVC facility extended to companies for filing GSTR1 and GSTR3B.</a></p>
                    </li>
                    <li>
                        <div class="date">16/10/2020</div>
                        <p><a>Due dates for filing of Form GSTR-3B for the Tax Period of September, 2020</a></p>
                    </li>
                </ul>
                <div class="view-all"><a>View all <i class="fa fa-angle-double-right"></i></a></div>
            </div>
            <div class="block-head">
                <h4>Taxpayers (Normal/TDS/TCS) </h4>
            </div>
            <div class="widget-panel">
                <p><i class="fa fa-lock icon"></i><a href="#">Register Now</a></p>
                <p><i class="fa fa-user icon"></i><a href="#">Find a GST Practitioner</a></p>
            </div>
            <div class="block-head">
                <h4>GST Practitioners </h4>
            </div>
            <div class="widget-panel">
                <p><i class="fa fa-lock icon"></i><a href="#">Register Now</a></p>
                <p><i class="fa fa-user icon"></i><a href="#">Find a Taxpayer</a></p>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="block-head">
                <h4>Popular help topics</h4>
            </div>
            <div class="topic-block">
                <div class="row">
                    <div class="col-sm-6">
                        <p><i class="fa fa-arrow-circle-right"></i>How can I Opt for Composition? </p>
                        <p><i class="fa fa-arrow-circle-right"></i>How can I use the Returns Offline tool? </p>
                        <p><i class="fa fa-arrow-circle-right"></i>How do I apply for refund?</p>
                    </div>
                    <div class="col-sm-6">
                        <p><i class="fa fa-arrow-circle-right"></i>How do I file intimation about voluntary payment? </p>
                        <p><i class="fa fa-arrow-circle-right"></i>How to file an appeal?</p>
                        <p><i class="fa fa-arrow-circle-right"></i>How do I register with GST? </p>
                    </div>
                </div>
            </div>
            <div class="block-head">
                <h4>Upcoming Due Dates</h4>
            </div>
            <div class="dates-list">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="date-block"><label>GSTR-3B (Sep, 2020)</label><span>Oct20,22,24 2020</span></div>
                        <div class="date-block"><label>GSTR-1 (Sep, 2020)</label><span>Oct 11th, 2020</span></div>
                        <div class="date-block"><label>GSTR-9 (2018-19)</label><span>Oct 31st, 2020</span></div>
                        <div class="date-block"><label>GSTR-9C (2018-19)</label><span>Oct 31st, 2020</span></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="date-block"><label>GSTR-3B (Sep, 2020)</label><span>Oct20,22,24 2020</span></div>
                        <div class="date-block"><label>GSTR-1 (Sep, 2020)</label><span>Oct 11th, 2020</span></div>
                        <div class="date-block"><label>GSTR-9 (2018-19)</label><span>Oct 31st, 2020</span></div>
                        <div class="date-block"><label>GSTR-9C (2018-19)</label><span>Oct 31st, 2020</span></div>
                    </div>
                </div>
            </div>
            <div class="dates-list">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="date-block"><label>GSTR-3B (Sep, 2020)</label><span>Oct20,22,24 2020</span></div>
                        <div class="date-block"><label>GSTR-1 (Sep, 2020)</label><span>Oct 11th, 2020</span></div>
                        <div class="date-block"><label>GSTR-9 (2018-19)</label><span>Oct 31st, 2020</span></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="date-block"><label>GSTR-3B (Sep, 2020)</label><span>Oct20,22,24 2020</span></div>
                        <div class="date-block"><label>GSTR-1 (Sep, 2020)</label><span>Oct 11th, 2020</span></div>
                        <div class="date-block"><label>GSTR-9 (2018-19)</label><span>Oct 31st, 2020</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>