﻿
@model eSimulation.Framework.Domain.GSTRegistration



<div class="container">
    <div class="breadcrumb-wrap">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>Registration</li>
        </ul>
        <div class="language"><i class="fa fa-globe"></i> English</div>
    </div>
    <div class="content-pane">
        <div class="row">
            <div class="col-sm-offset-2 col-md-offset-3 col-md-6 col-sm-8 col-xs-12">
                <ul class="progressbar">
                    <li class="step-on active">
                        <span class="circle on-page">1</span>
                        <p>User Credentials</p>
                    </li>
                    <li>
                        <span class="circle not-active">2</span>
                        <p>OTP Verification</p>
                    </li>
                </ul>
                <h4 class="head-style">New Registration</h4>
                <p class="mand-text">indicates mandatory fields</p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (@TempData["Error"] != null)
                {
                    <div class="alert alert-danger col-md-12">@TempData["Error"]</div>
                }
                <form asp-action="New_registration" asp-controller="GST" class="form-style">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="UserId" type="hidden" value="@User.Identity.GetUserId()" />
                    <div class="reg-tab form-group">
                        <span class="radio-button">
                            <input type="radio" name="registration" value="newRegistration" id="newRegistration" checked>
                            <label for="newRegistration" class="radio-label">New Registration</label>
                        </span>
                        <span class="radio-button">
                            <input type="radio" name="registration" value="temporaryReferenceNumber" id="temporaryReferenceNumber">
                            <label for="temporaryReferenceNumber" class="radio-label">Temporary Reference Number (TRN)</label>
                        </span>
                    </div>
                    <div class="content">
                        <div class="newRegistration">
                            <div class="form-group">
                                <label class="mandatory">I am a</label>
                                <select asp-for="TaxpayerType" asp-items="Html.GetEnumSelectList<eSimulation.Framework.Enum.TaxPayerType>()" class="form-control">
                                </select>
                            </div>
                            <span asp-validation-for="TaxpayerType" class="text-danger"></span>
                            <div class="form-group">
                                <select asp-for="CountryId" asp-items="@ViewBag.CountryId" class="form-control select2 hide"></select>
                                <label class="mandatory">State / UT</label>
                                <select asp-for="StateId" class="form-control  select2"></select>
                                <span asp-validation-for="StateId" class="text-danger"></span>
                            </div>
                            <div class="form-group ">
                                <label>District</label>
                                <select asp-for="DistrictId" class="form-control  select2"></select>
                                <span asp-validation-for="DistrictId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="mandatory">Legal Name of the Business <span>(As mentioned in PAN)</span></label>
                                <input asp-for="Legal_name" class="form-control" placeholder="Enter Legal Name of Business">
                                <span asp-validation-for="Legal_name" class="text-danger"></span>
                            </div>
                            <div class="form-group ">
                                <label class="mandatory">Permanent Account Number (PAN)</label>
                                <input asp-for="Pan_number" class="pan_txt form-control" placeholder="Enter PAN" maxlength="10">
                                <span asp-validation-for="Pan_number" class="text-danger"></span>
                                <div class="help-pan">
                                    <i class="fa fa-info-circle"></i> If you don't have PAN, Click <a href="">here</a> to apply
                                </div>

                                <div class="">
                                    Eg:
                                    <span class="A1">A</span>
                                    <span class="B2">B</span>
                                    <span class="C3">C</span>
                                    <span class="D4">D</span>
                                    <span class="E5">E</span>
                                    <span class="N1">1</span>
                                    <span class="N2">2</span>
                                    <span class="N3">3</span>
                                    <span class="N4">4</span>
                                    <span class="X1">X</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="mandatory">Email Address</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                                </div>
                                <input asp-for="Email" type="text" class="form-control" placeholder="Enter Email Address">
                            </div>
                            <small class="form-text text-muted"><i class="fa fa-info-circle"></i> OTP will be sent to this Email Address</small>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="mandatory">Mobile Number</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <div class="input-group-text">+91</div>
                                </div>
                                <input asp-for="Mobile" type="text" class="form-control" placeholder="Enter Mobile Number">
                            </div>
                            <small class="form-text text-muted"><i class="fa fa-info-circle"></i>  Separate OTP will be sent to this mobile number</small>
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        <button class="btn btn-block btn-primary">Proceed</button>
                    </div>
                    <div class="temporaryReferenceNumber hide">
                        <div class="form-group">
                            <label>Temporary Reference Number (TRN)</label>
                            <input type="text" class="form-control" placeholder="Temporary Reference Number (TRN)">
                        </div>
                        <div class="form-group has-error">
                            <label>Type the characters you see in the image below</label>
                            <input type="text" class="form-control" placeholder="Enter characters as displayed in the CAPTCHA image">
                            <div class="captcha-box">
                                <img src="images/captcha.png">
                            </div>
                        </div>
                        <button class="btn btn-block btn-primary">Proceed</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>




<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

@section scripts{
    <script type="text/javascript">
        //radio button

        $(document).ready(function () {
            $("input[type='radio']").click(function () {
                var radioValue = $("input[name='registration']:checked").val();
                $('.' + radioValue).removeClass('hide').siblings().addClass('hide');
            });
        });

        //state/Dist dropdown
        $(function () {
            $('#CountryId').change();
        });
        $('#CountryId').change(function (e) {
            e.preventDefault();
            $('#StateId').html('');
            $('#StateId').append('<option value="">' + "Select" + '</option>');
            $.ajax({
                type: "GET",
                url: "/GST/GetStates",
                data: {
                    "CountryId": $('#CountryId').val()
                },
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        console.log("Response", response);
                        $.each(response, function (index) {
                            $('#StateId').append('<option value="' + response[index].id + '">' + response[index].name + '</option>');
                        });
                    }
                    else {
                        $('#StateId').html('');
                        $('#StateId').append('<option value="">' + "Select" + '</option>');
                    }
                }
            });
        });
        $('#StateId').change(function (e) {
            e.preventDefault();
            $('#DistrictId').html('');
            $('#DistrictId').append('<option value="">' + "Select" + '</option>');
            $.ajax({
                type: "GET",
                url: "/GST/GetDistricts",
                data: {
                    "StateId": $('#StateId').val()
                },
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        console.log("Response", response);
                        $.each(response, function (index) {
                            $('#DistrictId').append('<option value="' + response[index].id + '">' + response[index].name + '</option>');
                        });
                    }
                    else {
                        $('#DistrictId').html('');
                        $('#DistrictId').append('<option value="">' + "Select" + '</option>');
                    }
                }
            });
        });
        

    @*< !--JQuery Validation-- >*@

        @*ERRORS:
        LAST X ERROR
        BACKSPACE NOT CLEARING COLOR*@
        function clearClass(prop) {
            if ($(prop).hasClass("success"))
                $(prop).removeClass("success");
            else if ($(prop).hasClass("wrong"))
                $(prop).removeClass("wrong");
        }

        $(document).ready(function () {
            $(".pan_txt").keyup(function () {
                var value = $(this).val();

               // var position = $(this).val().length;
             //   console.log(value[9]);
                // console.log(position);
                validate(value);

            });
        });

        function validate(val) {

            if (val.length > 0) {
                if (val[0].match(/[A-Z]/)) {
                    $(".A1").addClass("success");
                    $(".A1").removeClass("wrong");

                }
                else {
                    $(".A1").removeClass("success");
                    $(".A1").addClass("wrong");
                }

            } else {
                clearClass(".A1");
            }
            if (val.length > 1) {
                if (val[1].match(/[A-Z]/)) {
                    $(".B2").addClass("success");
                    $(".B2").removeClass("wrong");

                }
                else {
                    $(".B2").removeClass("success");
                    $(".B2").addClass("wrong");
                }
            } else {
                clearClass(".B2");
            }
            if (val.length > 2) {
                if (val[2].match(/[A-Z]/)) {
                    $(".C3").addClass("success");
                    $(".C3").removeClass("wrong");

                }
                else {
                    $(".C3").removeClass("success");
                    $(".C3").addClass("wrong");
                }
            } else {
                clearClass(".C3");
            }
            if (val.length > 3) {
                if (val[3].match(/[A-Z]/)) {
                    $(".D4").addClass("success");
                    $(".D4").removeClass("wrong");

                }
                else {
                    $(".D4").removeClass("success");
                    $(".D4").addClass("wrong");
                }
            } else {
                clearClass(".D4");
            }
            if (val.length > 4) {
                if (val[4].match(/[A-Z]/)) {
                    $(".E5").addClass("success");
                    $(".E5").removeClass("wrong");

                }
                else {
                    $(".E5").removeClass("success");
                    $(".E5").addClass("wrong");
                }
            } else {
                clearClass(".E5");
            }
            if (val.length > 5) {
                if (val[5].match(/[0-9]/)) {
                    $(".N1").addClass("success");
                    $(".N1").removeClass("wrong");

                }
                else {
                    $(".N1").removeClass("success");
                    $(".N1").addClass("wrong");
                }
            } else {
                clearClass(".N1");
            }
            if (val.length > 6) {
                if (val[6].match(/[0-9]/)) {
                    $(".N2").addClass("success");
                    $(".N2").removeClass("wrong");

                }
                else {
                    $(".N2").removeClass("success");
                    $(".N2").addClass("wrong");
                }
            } else {
                clearClass(".N2");
            }
            if (val.length > 7) {
                if (val[7].match(/[0-9]/)) {
                    $(".N3").addClass("success");
                    $(".N3").removeClass("wrong");

                }
                else {
                    $(".N3").removeClass("success");
                    $(".N3").addClass("wrong");
                }
            } else {
                clearClass(".N3");
            }
            if (val.length > 8) {
                if (val[8].match(/[0-9]/)) {
                    $(".N4").addClass("success");
                    $(".N4").removeClass("wrong");

                }
                else {
                    $(".N4").removeClass("success");
                    $(".N4").addClass("wrong");
                }
            } else {
                clearClass(".N4");
            }
            if (val.length > 9) {
                if (val[9].match(/[A-Z]/)) {
                    $(".X1").addClass("success");
                    $(".X1").removeClass("wrong");

                }
                else {
                    console.log(val[9]);
                    $(".X1").removeClass("success");
                    $(".X1").addClass("wrong");
                }
            } else {
                clearClass(".X1");
            }

        }
    </script>
}





