﻿


@{ ViewData["Title"] = "GST-New"; }
@model eSimulation.Framework.Domain.GSTRegistration


   
            <div class="container">
                <div class="breadcrumb-wrap">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Registration</li>
                    </ul>
                    <div class="language"><i class="fa fa-globe"></i> English</div>
                </div>
                <div class="content-pane">
                    <div class="row">
                        <div class="col-sm-offset-2 col-md-offset-3 col-md-6 col-sm-8 col-xs-12">
                            <ul class="progressbar">
                                <li>
                                    <span class="circle on-page">1</span>
                                    <p>User Credentials</p>
                                </li>
                                <li class="step-on active">
                                    <span class="circle on-page">2</span>
                                    <p>OTP Verification</p>
                                </li>
                            </ul>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @if (TempData["Error"] != null)
                            {
                                <div class="alert alert-danger col-md-12">@TempData["Error"]</div>
                            }
                            <form asp-action="New_registration_otp1" asp-controller="GST" class="form-style">

                                <div class="form-group col-md-12 col-lg-12">
                                    <label>Enter OTP </label>
                                    <input asp-for="Otp" class="form-control" placeholder="Enter OTP"><small>Eg:12345</small>
                                    <input asp-for="UserId" value="@User.Identity.GetUserId()" type="hidden" />
                                    <button class="btn btn-block btn-primary " style="margin-bottom:200px;">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


   
    <script>
        //radio button

        $(document).ready(function () {
            $("input[type='radio']").click(function () {
                var radioValue = $("input[name='registration']:checked").val();
                $('.' + radioValue).removeClass('hide').siblings().addClass('hide');
            });
        });

       
   </script>




