﻿@{
    Layout = null;
}

@model eSimulation.Framework.VIewModel.LoginView

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/css/admin_style.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/js/admin_js.js"></script>
<div class="container col-md-4 col-lg-4" style="padding-top: 120px;">

</div>
<div class="card container col-md-4 col-lg-4 ">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (@TempData["Error"] != null)
    {
        <div class="alert alert-danger col-md-12">@TempData["Error"]</div>
    }

    <form asp-action="Login" asp-controller="auth">
        <div class="heading">
            <h3 class="text-center">Admin Login</h3>
            @*<p class="text-center">Don't have an account? <a class="text-thm" href="#profile">Sign Up!</a></p>*@
        </div>
        <div class="form-group">
            <input type="email" class="form-control" asp-for="EmailAddress" placeholder="Email Address">
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" asp-for="Password" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" asp-for="Remember">
            <label class="form-check-label" for="Remember">Remember me</label>
            <a class="tdu text-thm float-right" asp-action="reset-password" asp-controller="auth">Forgot Password?</a>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-thm2">Login</button>
        <hr>
        @*<div class="row mt40">
                <div class="col-lg">
                    <button type="submit" class="btn btn-block color-white bgc-fb"><i class="fa fa-facebook float-left mt5"></i> Facebook</button>
                </div>
                <div class="col-lg">
                    <button type="submit" class="btn btn-block color-white bgc-gogle"><i class="fa fa-google float-left mt5"></i> Google</button>
                </div>
            </div>*@


    </form>
</div>
@*< !--JQuery Validation-- >*@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>