﻿@{
    Layout = null;
 }

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>E-Simulation</title>

    <style>
        .pan-button {
            /* padding: 5px;*/
            background-color: #2b5876;
            color: white;
            height: 47px;
            width: 100px;
            padding: 10px;
            border-radius: 18px;
            text-align: center;
            text-decoration: none;
        }

            .pan-button:hover {
                /* padding: 5px;*/
                background-color: #2b5876;
                color: white;
                height: 47px;
                width: 100px;
                padding: 10px;
                border-radius: 18px;
                text-align: center;
                text-decoration: none;
            }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light" style="background-color:#2b5876!important;color:white;">
        <a class="navbar-brand text-white" href="#">Nergy Simulation</a>
        <div class="row mr-3">
            <span class="float-right text-white mr-2"><p><b>@User.Identity.Name</b></p></span>
            <a asp-action="Logout" asp-controller="Auth" class="btn btn-danger">Logout</a>
        </div>

    </nav>

    <section>
        <div class="container mt-5">
            <div class="row ">
                <div class="col-lg-6 col-md-6 mb-3">
                    <div class="row d-flex justify-content-center">
                        <a href="#" class="pan-button"> PAN</a>
                        <a asp-action="Index" asp-controller="GST" class="pan-button ml-1"> GST</a>
                        <a href="#" class="pan-button ml-1"> ITR</a>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-12">

                    <h5>Logged in Details</h5>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">
                            Aadhar id : 123456789015
                        </div>
                        <div class="card-body">
                            <p>Name : @User.Identity.Name</p>
                            <p>Email :@User.Identity.GetEmailAddress()</p>
                            <p>Date of Birth : 00-00-0000</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>