﻿
@{ ViewData["Title"] = "GST"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goods & Services Tax (GST)</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />


</head>
<body>
    <header>
        <div class="container">
            <div class="top-bar">
                Skip to Main Content <span class="fa fa-adjust"></span><span class="fresize f-up">A<sup>+</sup></span><span class="fresize f-down">A<sup>-</sup></span>
            </div>
        </div>
        <div class="head-wrap">
            <div class="container">
                <div class="head-bar">
                    <h1>Goods and Services Tax</h1>
                    <a class="login"><i class="fa fa-sign-in"></i> Login</a>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a asp-action="GstDashboard" asp-controller="GST"> Dashboard </a>
                        </li>
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li class="dropdown drpdwn">
                            <a data-ng-href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="caret"></span></a>
                            <ul class="dropdown-menu smenu" role="menu">
                                <li>
                                    <a href="">Registration</a>
                                    <ul class="dropdown-menu smenu-sub" role="menu">
                                        <li>
                                            <a asp-action="New_registration" asp-controller="GST">New Registration</a>
                                        </li>
                                        <li>
                                            <a href="">Application for Filing Clarifications</a>
                                        </li>
                                        <li>
                                            <a href="">Track Application Status</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Payments</a>
                                </li>
                                <li>
                                    <a href="">User Services</a>
                                </li>
                                <li>
                                    <a href="">Refunds</a>
                                </li>
                                <li>
                                    <a href="">e-Way Bill System</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">GST Law </a>
                        </li>
                        <li>
                            <a href="#">Downloads</a>
                        </li>
                        <li>
                            <a href="">Search Taxpayer </a>
                        </li>
                        <li>
                            <a href="">Help and Taxpayer Facilities</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="main-outer">
        @RenderBody()

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="footer-links">
                            <h4>About GST</h4>
                            <ul>
                                <li>GST Council Structure</li>
                                <li>GST History</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="footer-links">
                            <h4>Website Policies</h4>
                            <ul>
                                <li>Website Policy</li>
                                <li>Terms and Conditions</li>
                                <li>Hyperlink Policy</li>
                                <li>Disclaimer</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="footer-links">
                            <h4>Related Sites</h4>
                            <ul>
                                <li>Central Board of Indirect Taxes and Customs</li>
                                <li>State Tax Websites</li>
                                <li>National Portal</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-links">
                            <h4>Help and Taxpayer Facilities</h4>
                            <ul>
                                <li>System Requirements</li>
                                <li>GST Knowledge Portal</li>
                                <li>GST Media</li>
                                <li>Site Map</li>
                                <li>Grievance Nodal Officers</li>
                                <li>Free Accounting and Billing Services</li>
                                <li>GST Suvidha Providers</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-links">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>Help Desk Number:<br>1800-103-4786</li>
                                <li>Log/Track Your Issue:<br>Grievance Redressal Portal for GST</li>
                                <li>
                                    <div class="social">
                                        <i class="fa fa-facebook-square"></i><i class="fa fa-youtube-play"></i><i class="fa fa-twitter" title="Twitter"></i><i class="fa fa-linkedin"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-info">
                <div class="container">
                    <div class="info-text">
                        <p>© 2018-19 Goods and Services Tax Network</p>
                        <p>Site Last Updated on 21-10-2020</p>
                        <p>Designed & Developed by GSTN</p>
                    </div>
                </div>
            </div>
            <div class="browser-info">
                <div class="container">
                    Site best viewed at 1024 x 768 resolution in Internet Explorer 10+, Google Chrome 49+, Firefox 45+ and Safari 6+
                </div>
            </div>
        </footer>
    </section>
    @RenderSection("Modal", false)

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        
    </script>
    @RenderSection("Scripts", required: false)



</body>
</html>